

@font-face {
    font-family: 'SinchonRhapsody';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2503@1.0/SinchonRhapsody.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
*{
    font-family: "SinchonRhapsody",cursive;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
}
/* related width */
.w-50 {
    width: 50%;
}
.w-100 {
    width: 100%;
}

/* related index page*/
.main {
    display: flex;
    max-width: 1000px;
    margin: auto;
    align-items: center;
}
body{
    margin: 0;
}